<table class="table table-striped">
  <thead class="thead-light text-center">
    <th>#Order No.</th>
    <th>Customer</th>
    <th>P. Method</th>
    <th>G. Total</th>
    <th class="text-center">
      <a class="btn btn-outline-success btn-sm" routerLink="/Order"><i class="fas fa-plus-square"></i> Create New</a>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderList">
      <th class="text-center font-weight-bold">{{ item.OrderNo }}</th>
      <td>{{ item.Customer }}</td>
      <td class="text-center">{{ item.PMethod }}</td>
      <td class="text-right">{{ item.GTotal }}.000</td>
      <td class="text-center">
        <a class="btn btn-sm text-white btn-info" (click)="openForEdit(item.OrderID)"><i class="fas fa-pen"></i> Edit</a>
        <a class="btn btn-sm text-white btn-danger ml-1"><i class="fas fa-trash-alt"></i> Hapus</a>
      </td>
    </tr>
  </tbody>
</table>