<form #form="ngForm" autocomplete="off" *ngIf="service.formOrder" (submit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="font-weight-bold">Order No.</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text font-weight-bold">#</div>
          </div>
          <input name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formOrder.OrderNo" class="form-control font-weight-bold" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Customer</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text font-weight-bold"><i class="fas fa-user-alt"></i></div>
          </div>
          <select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formOrder.CustomerID" class="form-control font-weight-bold"
          [class.is-invalid] = "!isValid && service.formOrder.CustomerID == 0">
            <option value="0">- Pilih -</option>
            <option *ngFor="let item of ListCustomer" value="{{ item.CustomerID }}">{{ item.Name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="font-weight-bold">Payment Method</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text font-weight-bold"><i class="fas fa-credit-card"></i></div>
          </div>
          <select name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formOrder.PMethod" class="form-control font-weight-bold" [class.is-invalid] = "!isValid && service.formOrder.PMethod == ''">
            <option value="">- Pilih -</option>
            <option value="Cash">Cash</option>
            <option value="Card">Card</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Grand Total</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text font-weight-bold">Rp.</div>
          </div>
          <input name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formOrder.GTotal" class="form-control font-weight-bold" readonly>
          <div class="input-group-append">
            <span class="input-group-text font-weight-bold">.000</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Item Table -->
    <table class="table table-bordered">
      <thead class="thead-light text-center">
        <th>Food</th>
        <th>Price <h6>(Rp.)</h6></th>
        <th>Quantity</th>
        <th>Total <h6>(Rp.)</h6></th>
        <th>
          <a class="btn btn-sm btn-primary text-white" (click)="AddOrEditOrderItem(null, service.formOrder.OrderID)"><i class="fas fa-plus"></i> Add Item</a>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="service.orderItems.length == 0">
          <td colspan="5" class="font-italic text-center font-weight-bold" [class.text-danger] = "!isValid && service.orderItems.length == 0">
            No Food Item Selected For This Order.
          </td>
        </tr>
        <tr *ngFor="let item of service.orderItems; let i = index;">
          <td class="text-center">{{ item.ItemName }}</td>
          <td class="text-right">{{ item.Price }}.000</td>
          <td class="text-center">{{ item.Quantity }}</td>
          <td class="text-right">{{ item.Total }}.000</td>
          <td>
              <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i, service.formOrder.OrderID)"><i class="fas fa-pen"></i> Edit</a>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteItem(item.OrderItemID,i)"><i class="fas fa-trash-alt"></i> Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <button type="submit" class="btn btn-dark"><i class="fas fa-database"></i> Submit</button>
      <a class="btn btn-outline-info ml-1" routerLink="/Orders"><i class="fas fa-table"></i> View Orders</a>
    </div>
  </div>
</form>