<div class="jumbotron jumbotron-fluid">
    <h5 class="display-4 text-center">
        App Restaurant
    </h5>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>  