<h5 class="display-4">Order Food Item.</h5>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSumbit(form)">
  <input type="hidden" name="OrderItemID" #OrderItemID="ngModel" [(ngModel)]="formData.OrderItemID">
  <input type="hidden" name="OrderID" #OrderID="ngModel" [(ngModel)]="formData.OrderID">
  <input type="hidden" name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName">
  <div class="form-group">
    <label class="font-weight-bold">Food Item</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text font-weight-bold"><i class="fas fa-list-alt"></i></div>
      </div>
      <select name="ItemID" #ItemID="ngModel" [(ngModel)]="formData.ItemID" class="form-control font-weight-bold" (change)="updatePrice($event.target)"
      [class.is-invalid]="!isValid && formData.ItemID == 0">
        <option value="0">- Pilih -</option>
        <option *ngFor="let item of itemList" value="{{ item.ItemID }}">{{ item.Name }}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="font-weight-bold">Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text font-weight-bold">Rp.</div>
        </div>
        <input name="Price" #Price="ngModel" [(ngModel)]="formData.Price" class="form-control font-weight-bold" readonly>
        <div class="input-group-append">
          <span class="input-group-text font-weight-bold">.000</span>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label class="font-weight-bold">Quantity</label>
      <input name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity" class="form-control font-weight-bold" (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.Quantity == 0">
    </div>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text font-weight-bold">Rp.</div>
      </div>
      <input name="Total" #Total="ngModel" [(ngModel)]="formData.Total" class="form-control font-weight-bold" readonly>
      <div class="input-group-append">
        <span class="input-group-text font-weight-bold">.000</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-info"><i class="fas fa-database"></i> Submit</button>
    <button type="button" class="btn btn-danger ml-1" mat-dialog-close><i class="fas fa-times"></i> Close</button>
  </div>
</form>